    * {
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-family: 'Noto Sans', sans-serif;
        box-sizing: border-box;
    }
    
    body {
        background-color: #060930;
    }
    
    .register {
        width: 400px;
        height: 780px;
        border: 1px solid black;
        box-shadow: 15px 15px 15px #E43F5A;
        margin: 20px;
        background-color: white;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        box-sizing: border-box;
        color: #000000;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .titulo_crearCuenta {
        padding-top: 10px;
        font-size: 1.5rem;
    }
    
    .logo {
        width: 200px;
        height: 200px;
        margin-top: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border: 1px dashed black;
    }
    
    .vinculo {
        text-decoration: none;
        color: black;
    }
    
    .vinculo:hover {
        text-decoration: underline;
        color: rgb(13, 17, 230);
    }
    
    .inputs {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        min-width: 300px;
        height: 30px;
        outline: none;
        background-color: #dfe;
        font-size: 14px;
        padding-left: 6px;
    }
    
    .inputs::placeholder {
        color: black;
    }
    
    .button {
        background-color: transparent;
        color: #00c69f;
        border: 2px solid #00c69f;
        width: 290px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 7px;
        /* /* -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px; */
    }
    
    .button:hover {
        background-color: #00c69f;
        color: white!important;
        text-decoration: none;
        text-transform: uppercase;
    }